.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: auto;
  padding: 0 12px;
  border: 4px solid red;
  border-radius: 10px;
  background-color: lightcoral;
  text-shadow: 1px 1px 4px whitesmoke;
}